<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">

  <%= render "shared/owner_sidebar" %>
  <main class="my-8 lg:flex-auto">
    <div>
      <h2 class="text-2xl font-semibold leading-7 text-gray-900">Reservations</h2>
    </div>

    <% @reservations.each do |reservation| %>
      <div class="mt-4 border border-gray-300 rounded-xl p-4 h-min">
        <h2 class="sr-only">Product information</h2>

        <div class="flex justify-between">
          <%= render "properties/mini_property_item",property:reservation.property %>
        </div>

        <div class="relative py-6">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>

        <div class="mt-4">
          <h3 class="text-xl font-medium text-gray-900 mb-3">Booking Details</h3>
          <div class="flex justify-between">
            <p>Booked By</p>
            <p class="font-medium"><%= reservation.user.profile.name %> (<%= reservation.user.email %>)</p>
          </div>
          <div class="flex justify-between">
            <p>Dates</p>
            <p class="font-medium">(<%= reservation.check_in %>)-(<%= reservation.check_out %>)</p>
          </div>

        </div>

        <div class="relative py-6">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>

        <p class="text-base font-light tracking-tight text-gray-900"><span class="font-medium text-2xl"><%= humanized_money_with_symbol(reservation.payment.per_night) %></span>  night</p>
        <div class="mt-4">
          <h3 class="text-xl font-medium text-gray-900 mb-3">Your trip</h3>
          <div class="flex justify-between">
            <p><%= humanized_money_with_symbol(reservation.payment.per_night) %> x <%=  (reservation.check_out - reservation.check_in).to_i %> nights</p>
            <p><%= currency_symbol %><%= reservation.payment.base_fare %></p>
          </div>
          <div class="flex justify-between mt-4">
            <p>Airbnb service fee</p>
            <p><%= currency_symbol %><%= reservation.payment.service_fee %></p>
          </div>
        </div>
        <div class="relative py-6">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>
        <div class="flex justify-between font-medium">
          <p>Total before taxes</p>
          <p><%= currency_symbol %><%= reservation.payment.total_amount %></p>
        </div>
      </div>
    <% end %>
  </main>
</div>