
<div class="bg-white">
  <main class="pt-4">

    <!--Header-share-Like-->
    <div class="flex items-center justify-between mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 py-2">
      <h1 class="inline text-2xl font-medium leading-7 txt-gray-900 sm:truncate"><%= @property.headline %></h1>
      <div class="space-x-1">
        <span data-controller="share" data-action="click->share#toggleShareShow" class="bg-white hover:bg-gray-100 text-gray-600 py-1 px-1.5 pb-2 rounded cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 inline ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" /></svg>
          <span class="underline font-medium">Share</span>
        </span>
        <%= render 'shared/modal', modalTriggerId:"share",content: 'properties/share_modal',content_params:{share:@property}%>
        <span
          data-controller="whislist"
          data-user-logged-in="<%= user_signed_in? %>"
          data-property-id="<%= @property.id %>"
          data-user-id="<%= current_user&.id %>"
          data-whistlist-id="<%= @property.whislists.find_by(user: current_user)&.id %>"
          data-action="click->whislist#updateWhislistStatus"
          data-status="<%= @property.whistlisted_by?(current_user) %>"
          class="bg-white hover:bg-gray-100 text-gray-600 py-1 px-1.5 pb-2 rounded cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 32 32"
               aria-hidden="true"
               role="presentation"
               focusable="false"
               class="inline h-4 w-4 stroke-black  <%= @property.whistlisted_by?(current_user) ? 'fill-primary stroke-0' : 'fill-none stroke-2' %>"
               style="overflow: visible;"
               data-whislist-traget="icon">
              <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path>
          </svg>
          <span data-whislist-target="text" class="underline font-medium"><%= @property.whistlisted_by?(current_user) ? "Saved" : "Save" %></span>
        </span>
      </div>
    </div>

    <!-- Image gallery -->
    <% if @property.images.count > 0 %>
      <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-4 lg:gap-x-2 lg:px-8">
        <% if @property.images.count > 0 && @property.images.count < 5%>
          <div class="aspect-h-2 aspect-w-6 hidden overflow-hidden rounded-l-lg lg:block col-span-4">
            <%= image_tag @property.images[0],class:"h-full w-full object-cover object-center"  %>
          </div>
        <%else %>
          <div class="aspect-h-2 aspect-w-3 hidden overflow-hidden rounded-l-lg lg:block col-span-2">
            <%= image_tag @property.images[0],class:"h-full w-full object-cover object-center"  %>
          </div>
          <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-2">
            <div class="aspect-h-2 aspect-w-3 overflow-hidden h-52">
              <%= image_tag @property.images[1],class:"h-full w-full object-cover object-center"  %>
            </div>
            <div class="aspect-h-2 aspect-w-3 overflow-hidden  h-52">
              <%= image_tag @property.images[2],class:"h-full w-full object-cover object-center"  %>
            </div>
          </div>
          <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-2 ">
            <div class="aspect-h-2 aspect-w-3 overflow-hidden  h-52 rounded-r-lg">
              <%= image_tag @property.images[3],class:"h-full w-full object-cover object-center"  %>
            </div>
            <div class="aspect-h-2 aspect-w-3 overflow-hidden  h-52  rounded-r-lg">
              <%= image_tag @property.images[4],class:"h-full w-full object-cover object-center"  %>
            </div>
          </div>
        <%end %>
      </div>
    <%end %>
    <!-- Property info -->
    <div class="mx-auto max-w-2xl px-4 pt-8 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 ">
      <div class="lg:col-span-2 lg:pr-8">
        <h1 class="text-xl font-medium leading-6 txt-gray-900 sm:truncate"><%= @property.name %>, <%= country_name(@property.country_code) %></h1>
        <div class="mt-1 font-light">
          <span><%= @property.guests %> guests 路 <%= @property.bedrooms %> bedroom 路 <%= @property.bed %> bed 路 <%= @property.bathroom %> bathroom</span>
        </div>
        <div class="mt-1 flex items-center">
          <svg class="me-1 inline h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false"><path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path></svg>
          <% if @property.reviews_count != 0 %>
            <span class="font-medium"><%= (@property.average_overall_rating).round(2) %> 路 <span class="underline cursor-pointer"><%= @property.reviews_count %> reviews</span></span>
          <% else %>
            <span class="font-medium">No reviews yet</span>
          <% end %>
        </div>

        <!-- Description and details -->
        <div class="lg:col-span-2 lg:col-start-1 lg:pb-8 lg:pr-8 lg:pt-6">
          <div class="border-t border-gray-200 pt-10 ">
            <h3 class="sr-only">Description</h3>

            <div class="space-y-6">
              <p class="text-gray-900"><%= @property.description.to_plain_text.truncate(400) %></p>
              <% if @property.description.to_plain_text.length > 500 %>
              <span  data-controller="description" data-action="click->description#toggleDescriptionShow" class="underline font-medium cursor-pointer">
                Show more
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="inline w-4 h-4">
          `       <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>

              </span>
                <%= render 'shared/modal', modalTriggerId:"description",content: 'properties/description_modal',content_params:{description:@property.description} %>
              <% end %>
            </div>
          </div>
        </div>

        <!--Amenities-->
        <%= render "properties/amenities", amenities:@property.amenities%>
      </div>


      <!-- Booking details -->
      <div data-controller="booking"
           data-per-night-price="<%= humanized_money(@property.price) %>"
           data-formatted-date = "<%= @formatted_date %>"
           class="mt-4 lg:mt-0 border rounded-xl p-4 h-min">
        <h2 class="sr-only">Product information</h2>
        <p class="text-base font-light tracking-tight text-gray-900"><span class="font-medium text-2xl"><%= humanized_money_with_symbol(@property.price) %></span>  night</p>
        <div class="flex mt-6">
          <div class="rounded-l-lg px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-400 focus-within:ring-2 focus-within:ring-indigo-600">
            <label for="checkin" class="block text-xs font-medium text-gray-900">Check-in</label>
            <input data-booking-target="checkin"  type="text" name="checkin" id="checkin" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" value="<%= Date.tomorrow.strftime("%Y-%m-%d") %>">
          </div>

          <div  class="rounded-r-lg px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-400 focus-within:ring-2 focus-within:ring-indigo-600">
            <label for="checkout" class="block text-xs font-medium text-gray-900">Check-out</label>
            <input data-booking-target="checkout" type="text" name="checkout" id="checkout" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"  value="<%= (Date.tomorrow + 1.day).strftime("%Y-%m-%d") %>">
          </div>

        </div>
        <button type="submit"
                data-booking-property-url = "<%=  new_property_booking_path(@property) %>"
                data-action="click->booking#reserveProperty"
                class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark focus:ring-offset-2">Reserve</button>
        <p class="text-center text-sm py-4 font-light">You won't be charged yet</p>
        <div class="mt-4">
          <div class="flex justify-between">
            <p><%= humanized_money_with_symbol(@property.price) %> x <span data-booking-target="numberOfNights">1</span> nights</p>
            <p><%= currency_symbol %><span data-booking-target="baseFare"></span></p>
          </div>
          <div class="flex justify-between mt-4">
            <p>Airbnb service fee</p>
              <p><%= currency_symbol %><span data-booking-target="serviceFee"></span></p>
          </div>
        </div>
        <div class="relative py-6">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
          </div>
        </div>
        <div class="flex justify-between font-medium">
          <p>Total before taxes</p>
          <p><%= currency_symbol %><span data-booking-target="totalTaxes">0</span></p>
        </div>
      </div>



    </div>

    <!--Reviews-->
    <%= render 'properties/reviews' ,property:@property%>

  </main>


</div>